.App {
  margin-top: 7vh;
}

.select{
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.select button {
  font-size: 1.5em;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#main {
  margin-top: 7vh;
}

.header-sith {
  margin-bottom: 3vh;
}